<table align="center" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab  <br>(Week 3)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Python Flow Control](#flow_control)**
2. **[List Comprehension](#lc)**

### Let's begin with some hands-on practice exercises

<a id= "flow_control"> </a>
## 1. Python Flow Control

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Write a code to print table of 5 using assignment operand +=.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [11]:
n = 5
sum = 0
for i in range(1,11):
  sum +=n
  print("{0} * {1} = {2}".format(n,i,sum))

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a program for generating a fibonacci series starting with 0 and 1 for the next 10 values using a while loop. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [26]:
n1,n2 = 0,1
count = 1
print(n1,n2,end = " ")
while count<=8:
    sum = n1+n2
    n1 = n2
    n2 = sum
    print(sum, end =" ")
    count+=1

0 1 1 2 3 5 8 13 21 34

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write a program to check whether a number is greater than the other using if statement (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [28]:
a = int(input("Enter the number1 : "))
b = int(input("Enter the number2 : "))

if(a >b ):
  print("Number1 is greater than number2")
elif a==b:
  print("Both are equal")
else:
  print("Number2 is greater than Number1")

Enter the number1 : 5
Enter the number2 : 21
Number2 is greater than Number1

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Write a code to check whether a number is divisible by 7 or not (take the input from user). </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [5]:
c = int(input("Enter the Number to check the divisibility of 7 : "))

if c%7 == 0:
    print("The Given Number is divisible by 7")
else:
    print("The Given Number is not divisible by 7")

Enter the Number to check the divisibility of 7 : 13
The Given Number is not divisible by 7

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a code to find factorial of a number (take the input from user). </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [16]:
d = int(input("Enter a number to find the factorial : "))
fact = 1

for i in range (1,d+1):
    fact*=i
print("The Factorial of {0} is {1}".format(d,fact))

Enter a number to find the factorial : 5
The Factorial of 5 is 120

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Write a program to check whether a number is prime or not (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [15]:
e = int(input("Enter the Number to check whether the Number is prime or not : "))
count = 0
for i in range(2,e):
    if e%i ==0:
        count+=1
        break
if count ==0:
    print("The Given Number {0} is Prime Number".format(e))
else:
    print("The Given Number {0} is Not Prime Number".format(e))

Enter the Number to check whether the Number is prime or not : 9
The Given Number 9 is Not Prime Number

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Write a program to check whether two numbers are amicable or not (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [16]:
x = int(input("Enter the First Number : "))
y = int(input("Enter the Second Number : "))
sum_x,sum_y = 0,0
for i in range(1,x):
    if x%i==0:
        sum_x +=i
for j in range(1,y):
    if y%j ==0:
        sum_y+=j
if sum_x == y and sum_y ==x:
    print("Both Numbers are Amicable")
else:
    print("They are not amicable")

Enter the First Number : 284
Enter the Second Number : 220
Both Numbers are Amicable

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Reverse string using a for loop (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [18]:
reverse_string = input("Enter a string to reverse : ")

length = len(reverse_string)

for i in range(length-1,-1,-1):
    print(reverse_string[i],end="")

Enter a string to reverse : hareesh
hseerah

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write a code to find the average of given numbers (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [21]:
count = 1
sum =0
while count<=5:
    number = int(input("Enter Number : {0} ".format(count)))
    sum+=number
    count+=1
average = sum//5
print("The Average for the given Numbers is {0}".format(average))

Enter Number : 1 34
Enter Number : 2 34
Enter Number : 3 34
Enter Number : 4 34
Enter Number : 5 34
The Average for the given Numbers is 34

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Write a program to find the area of a circle for a given radius (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [34]:
radius = int(input("Enter the radius to find area of circle :"))

area = 3.14 * (radius**2)

print("Area of circle for the given radius {0} is {1}".format(radius,area))

Enter the radius to find area of circle :4
Area of circle for the given radius 4 is 50.24

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Write a code to find the simple interest (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [31]:
prinicpal = int(input("Enter the Principal Amount : "))
years = int(input("Enter the Number of Years : "))
interest = int(input("Enter the rate of interest : "))

SI = (prinicpal*years*interest)/100

print("Simple Interest is {0}".format(SI))

Enter the Principal Amount : 1000
Enter the Number of Years : 2
Enter the rate of interest : 5
Simple Interest is 100.0

<a id= "lc"> </a>
## 2. List Comprehension

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Use list comprehension to obtain the squre root of first 10 natural numbers.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [63]:
sq_root_list = []

for i in range(1,11):
    sq_root_list.append(round(i**0.5,3))
print(sq_root_list)

[1.0, 1.414, 1.732, 2.0, 2.236, 2.449, 2.646, 2.828, 3.0, 3.162]

In [4]:
# Using List Comprehension
print([round(x**0.5,3) for x in range(1,11)])

[1.0, 1.414, 1.732, 2.0, 2.236, 2.449, 2.646, 2.828, 3.0, 3.162]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Use list comprehension to find the used vowels in a given sentence and/or word (take the input from user). </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [23]:
# Using List Comprehension
s1 = list(input("Enter the sentence : "))
vowels = 'aeiouAEIOU'

set([x for x in s1 if x in vowels])

Enter the sentence : Hello How are you

{'a', 'e', 'o', 'u'}

In [68]:
s1 = list(input("Enter the sentence : "))
vowels = 'aeiouAEIOU'
for i in s1:
    if i in vowels:
        print(i,end = " ")

Enter the sentence : Hareesh
a e e

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Create a dictionary and access it values using a condition on its key. The data is given below. Let the condidtion on the key is that it should be a even number.</b>
                </font>
            </div>
       </td>
    </tr>
</table>

<table>
<tr>
    <th>Key</th>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td> 
    <td>5</td> 
</tr>
<tr>
    <th>Name</th>
    <td>Aman</td>
    <td>Mohit</td>
    <td>Guari</td>
    <td>Imran</td>
    <td>Roma</td
     </tr>
<tr>
    <th>Marks</th>
    <td>24</td>
    <td>25</td>
    <td>26</td>
    <td>24</td>
    <td>27</td>
   </tr>
</table>

In [24]:
marks = {1:['Aman',24],2:['Mohit',25],3:['Guari',26],4:['Imran',24],5:['Roma',27]}
for key,value in marks.items():
    if key%2==0:
        print(key,value)

2 ['Mohit', 25]
4 ['Imran', 24]

In [28]:
# Using List Comprehension
marks = {1:['Aman',24],2:['Mohit',25],3:['Guari',26],4:['Imran',24],5:['Roma',27]}
list1 = [value for key,value in marks.items() if key%2==0]
list1

[['Mohit', 25], ['Imran', 24]]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Use list comprehension to find even and odd numbers from first 20 whole numbers.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [28]:
#Using List Comprehension
print("Even Numbers :",[i for i in range(1,21) if i%2==0])
print("Odd Numbers :",[i for i in range(1,21) if i%2!=0])

Even Numbers : [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
Odd Numbers : [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [77]:
list_odd =[]
list_even =[]

for i in range(1,21):
    if i%2:
        list_even.append(i)
    else:
        list_odd.append(i)
print("Even Number's List :",list_even)
print("Odd Number's List : ",list_odd)

Even Number's List : [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
Odd Number's List :  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Use list comprehension to print numbers divisible  by 2 and 3 in between 1 and 100. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [29]:
#Using List Comprehension

[x for x in range(1,101) if x % 2 == 0 and x % 3 == 0]

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Use list comprehension to create a dictionary such that its keys are numbers from 1 to 10 and values are the corresponding to that key are its cube.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [39]:
#Using List Comprehension
new_dict = {i:i**3 for i in range(1,11)}
print(new_dict)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [80]:
new_dict={}

for i in range(1,11):
    new_dict.update({i:i**3})
print(new_dict)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Use list comprehension to extract numbers from a string </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [34]:
# Using List Comprehension
z = 'Hra3ee5'
numbers = '0123456789'

print([i for i in z if i in numbers])

['3', '5']

In [33]:
z = 'Hra3ee5'
numbers = '0123456789'
for i in z:
    if i in numbers:
        print(i,end = " ")

3 5

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Use list comprehension to print table of 11 to 20 as shown below.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table>
<tr>
    <td>11</td><td>22</td><td>33</td><td>44</td><td>55</td><td>66</td><td>77</td><td>88</td><td>99</td><td>110</td> 
</tr>
    
<tr>
    <td>12</td><td>24</td><td>36</td><td>48</td><td>60</td><td>72</td><td>84</td><td>96</td><td>108</td><td>120</td> 
</tr>

<tr>
    <td>13</td><td>36</td><td>39</td><td>52</td><td>65</td><td>78</td><td>91</td><td>104</td><td>117</td><td>130</td> 
</tr> 

<tr>
     <td>14</td><td>28</td><td>42</td><td>56</td><td>70</td> <td>84</td><td>98</td><td>112</td><td>126</td><td>140</td> 
</tr>

<tr>
     <td>15</td><td>30</td><td>45</td><td>60</td><td>75</td><td>90</td><td>105</td><td>120</td><td>135</td><td>150</td> 
</tr>

<tr>
     <td>16</td><td>32</td><td>48</td><td>64</td><td>80</td><td>96</td><td>112</td><td>128</td><td>144</td><td>160</td> 
</tr> 

<tr>
     <td>17</td><td>34</td><td>51</td><td>68</td><td>85</td><td>102</td><td>119</td><td>136</td><td>153</td><td>170</td> 
</tr> 

<tr>
     <td>18</td><td>36</td><td>54</td><td>72</td><td>90</td> <td>108</td><td>126</td><td>144</td><td>162</td><td>180</td> 
</tr>

<tr>
 <td>19</td><td>38</td><td>57</td><td>76</td><td>95</td><td>114</td><td>133</td><td>152</td><td>171</td><td>190</td> 
</tr>

<tr>
     <td>20</td><td>40</td><td>60</td><td>80</td><td>100</td><td>120</td><td>140</td><td>160</td><td>180</td><td>200</td> 
<tr>    
    
</table>

In [9]:
[[i*j for i in range(1,11)] for j in range(1,21)]

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
 [11, 22, 33, 44, 55, 66, 77, 88, 99, 110],
 [12, 24, 36, 48, 60, 72, 84, 96, 108, 120],
 [13, 26, 39, 52, 65, 78, 91, 104, 117, 130],
 [14, 28, 42, 56, 70, 84, 98, 112, 126, 140],
 [15, 30, 45, 60, 75, 90, 105, 120, 135, 150],
 [16, 32, 48, 64, 80, 96, 112, 128, 144, 160],
 [17, 34, 51, 68, 85, 102, 119, 136, 153, 170],
 [18, 36, 54, 72, 90, 108, 126, 144, 162, 180],
 [19, 38, 57, 76, 95, 114, 133, 152, 171, 190],
 [20, 40, 60, 80, 100, 120, 140, 160, 180, 200]]

In [89]:
#Normal Form: Nested loops
for i in range(11,21):
    tables_list =[]
    for j in range(1,11):
        tables_list.append(i*j)
    print(tables_list)

[11, 22, 33, 44, 55, 66, 77, 88, 99, 110]
[12, 24, 36, 48, 60, 72, 84, 96, 108, 120]
[13, 26, 39, 52, 65, 78, 91, 104, 117, 130]
[14, 28, 42, 56, 70, 84, 98, 112, 126, 140]
[15, 30, 45, 60, 75, 90, 105, 120, 135, 150]
[16, 32, 48, 64, 80, 96, 112, 128, 144, 160]
[17, 34, 51, 68, 85, 102, 119, 136, 153, 170]
[18, 36, 54, 72, 90, 108, 126, 144, 162, 180]
[19, 38, 57, 76, 95, 114, 133, 152, 171, 190]
[20, 40, 60, 80, 100, 120, 140, 160, 180, 200]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Use list comprehension to find transpose of the matrix given below.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table>
    <tr>
        <td>1</td>
        <td>2</td>
    </tr>
    <tr>
        <td>3</td>
        <td>4</td>
    </tr>
    <tr>
        <td>5</td>
        <td>6</td>
    </tr>
    <tr>
        <td>7</td>
        <td>8</td>
    </tr>
    </table>

In [47]:
# Using List Comprehension
matrix = [[1,2],[3,4],[5,6],[7,8]]
list_ans= [[i[j] for i in matrix] for j in range(0,2)]
list_ans

[[1, 3, 5, 7], [2, 4, 6, 8]]

In [51]:
lastlist= []
for j in range(0,2):
    list_ans=[]
    for i in matrix:
        list_ans.append(i[j])
    lastlist.append(list_ans)
print(lastlist)

[[1, 3, 5, 7], [2, 4, 6, 8]]