<table align="center" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab  <br>(Week 1)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Using print()](#print)**
2. **[Data types](#types)**
3. **[Arithmetic Operations](#arithmetic)**
4. **[Boolean Operations](#boolean)**
5. **[Concatenation](#concatenation)**
6. **[Pseudo Codes](#pseudo)**

### Let's begin with some hands-on practice exercises

<a id="print"> </a>
## 1. Using print()

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. To display a statement. For example, "Hello, How are you?" </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
print('''"Hello,How are you?"''')

"Hello,How are you?"

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Display the following pattern using print() </b>
                </font>
            </div>
        </td>
    </tr>
</table>

            *    
           ***    
          *****   
         *******  
        *********

In [2]:
print('''    *\n   ***\n  *****\n *******\n*********''')

    *
   ***
  *****
 *******
*********

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write the alphabets 'A', 'B', 'C' on new lines using a single print function. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
print("'A'\n" + "'B'\n" + "'C'")

'A'
'B'
'C'

<a id="types"> </a>
## 2. Data types

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Create a string, a numeric and boolean variables by assigning variable names. Further, check their datatype. For numeric variable check for whole numbers and numbers with decimal point.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Declare a string variable and check its data type.**

In [4]:
a = "Hareesh"
print(type(a))

<class 'str'>

**Declare a numeric variable and check its data type.** <br>
i. An interger variable.

In [5]:
b = 25
print(type(25))

<class 'int'>

ii. A fractional variable

In [6]:
c = 2.5
print(type(c))

<class 'float'>

**Declare a boolean variable and check its data type.**

In [7]:
d = True
print(type(d))

<class 'bool'>

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a complex number and assign it the name 'comp_var'</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [8]:
comp_var = 4+5j
print(type(comp_var))

<class 'complex'>

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Convert a float variable f = 23.45 to integer.  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [9]:
f = 23.45
print(int(f))

23

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Create a numberic variable and convert it to a string.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [10]:
g = 10
print(str(g))

10

<a id="arithmetic"></a>
## 3. Arithmetic Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Evaluate 145 into 354 minus 1345 divided by 45 plus (462 plus 23) divided by 3. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [11]:
print(145*354-1345/45+(462+23)/3)

51461.777777777774

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Evaluate  and print the results of the following <br>
                        <ol type = '1'> 
                            <li> 1353 plus 234 </li> 
                            <li> 2355 minus 346 </li>
                            <li> 234 times 457 </li>
                            <li> 25 divided by 6 </li>
                            <li> Obtain remainder of  25 divided by 6 </li>
                            <li> 33 raised to 4 </li> 
                            <li> 45 divided by 6  (floor division)
                            <li> 2 raised to 10</li></ol>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [12]:
print(1353-234)
print(2355-346)
print(234*457)
print(25/6)
print(25%6)
print(33**4)
print(45//6)
print(2**10)

1119
2009
106938
4.166666666666667
1
1185921
7
1024

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Calculate BMI of a person (take input for height and weight from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [13]:
height = float(input("Enter Your Height in cm's : "))
weight = float(input("Enter Your Weight in Kg's: "))
bmi = (weight/(height**2/10000))
print(round(bmi))

Enter Your Height in cm's : 175
Enter Your Weight in Kg's: 85
28

<a id="boolean"></a>
## 4. Boolean Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Check whether the expression (54+34)* 45 is equal to the expression (0.9*2432)/0.9 </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [14]:
a = (54+34)*45
b = (0.9*2432)/0.9
print(a==b)

False

<a id="concatenation"></a>
## 5. Concatenation

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Create two strings and concatenate them using '+' operator. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [15]:
z = "Hareesh"
y = "Kumar"
print("Concatenated string : ",z+y)

Concatenated string :  HareeshKumar

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Concatenate the variables 'num = 34 and 'string ='How old are you?' using '+' operator. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [16]:
num = 34
string = 'How old are you?'
print(string+str(num))

How old are you?34

<a id="pseudo"> </a>
## 6. Pseudo Codes

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Write a pseudo code to print table of 5 using 'for' loop.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Step1: Start
Step2:  Enter n =5
Step3:  Enter limit =10
Step4:  Set i=1
Step5:  Multiply n * i and print the result and increment i by 1
Step6:  check if i equlal to limit , if yes go to step 7, if not go to step5
Step7: Stop

In [26]:
#Psuedocode to program
n = 5
for i in range(1,11):
    print("{} * {} = {}".format(n,i,n*i))

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Write a pseudo code for generating a fibonacci series starting with 0 and 1 for 10 values using while loop. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Step1: Start
Step2: Set n1, n2 = 0, 
Step3: Set count = 1 and set nterms=8
       print("Fibonacci sequence:")
       print(n1)
       print(n2)
Step4:  while count <= nterms:
          nth = n1 + n2
          n1 = n2
          n2 = nth
          count += 1
          print(nth)
Step8: Stop

In [18]:
#0,1,1,2,3,5,8,13

In [27]:
#Psuedocode to program
n1 = 0
n2= 1
count = 1
numberOfTerms = 8
print("Fibonacci sequence:")
print(n1)
print(n2)
while count<=numberOfTerms:
        next = n1+n2
        n1=n2
        n2= next
        count=count+1
        print(next)

Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Write a pseudo code to know whether a number is greater than the other using 'if' statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Step1: Start
Step2:  Get two numbers from the user and save it as a and b
Step3:  check if a>b , then a is greater than b
Step4:  elif a<b, then b is geater than a
Step5: Stop

In [28]:
#Psuedocode to program
a = int(input("Enter a:"))
b = int(input("Enter b:"))
if a>b:
    print("",a, " is greater than", "",b)
else:
    print("",b," is greater than","",a)

Enter a:6
Enter b:5
 6  is greater than  5

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Write a pseudo code to check whether a number is divisible by 7 or not using if else statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Step1: Start
Step2:  Get the Number from the user
Step3:  Divide the number by 7(number%7) and if the remainder equals to zero, then the number is divisible by 7.
Step4:  else then the number is not divisible by 7
Step5: Stop

In [29]:
#Psuedocode to program
z = int(input("Enter the Number to check whether it is divisible of 7: "))
if z%7==0:
    print("The Given Number is divisble by 7")
else:
    print("The Given Number is not divisible by 7")

Enter the Number to check whether it is divisible of 7: 5
The Given Number is not divisible by 7

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Write a pseudo code to find factorial of a number using nested if-else statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Step1: Start
Step2:  Declare N and F as integer variable.
Step3:  Set F=1.
Step4:  Enter the value of N.
Step5:  Check whether N>0, if not then F=1.
Step6:  If yes then, F=F*N
Step7:  Decrease the value of N by 1 .
Step8:  Repeat step 4 and 5 until N=0.
Step9:  Now print the value of F.
Step10:Stop

In [30]:
#Psuedocode to program
y = int(input())
fact=1
result=1
for i in range(1,y+1):
    result = result*i
print(result)

7
5040

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Write a pseudo to know whether a number is prime or not using for and if else statement.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Step 1: Start
Step 2: Initialize variables num,flag=1, j=2
Step 3: Read num from user
Step 4: If num<=1           
            Display Number is not a prime number"
            Goto step 7
Step 5: Repeat the steps until j<n
            5.1 If remainder of number divide j equals to 0,
                    Set flag=0
                    Goto step 6
            5.2 j=j+1
Step 6: If flag==0,
            Display Number is not prime number"
        Else 
            Display Number is prime number"
Step 7: Stop

In [48]:
#Psuedocode to program
prime = int(input())
flag=0
for i in range(2,prime):
    if prime%i ==0:
        flag=1
        break
if flag==1:
    print("Not Prime Number")
else:
    print("Prime Number")

4
Not Prime Number